.product-card {
    margin: 50px auto 50px;
    width: 100%;
    height: 450px;
    position: relative;
}

.product-card img {
    display: block;
    width: 100%;
    height: 100%;
}

.product-info{
    position: absolute;
    top: 0;
    height: 100%;
    padding:4rem;
    opacity: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin-right: 100px;
    background-color:rgba(92, 44, 0, 0.253);
}

.product-info #price{
    color: rgb(113, 243, 130);
    font-size:25px;
    font-family: cursive;
    font-weight: 700;
}

.product-info p{
    font-size: 17px;
    margin: 10px 0 20px;
}

.product-info h3{
    font-size:20px;
    font-weight: 700;
    margin: 20px 0 20px;
}

#productBtn {
    padding: 5px 20px 5px;
    border: 2px solid rgb(113, 243, 130);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    text-decoration: none;
}

#productBtn:hover {
    transition: 0.5s;
    background-color:rgb(92, 44, 0);
    color: white;
}

.product-card:hover img{
    animation: slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction:alternate;
}

.product-card:hover .product-info{
    transition: 0.5s;
    opacity: 1;
}

.product-card .product-info {
    transition: 0.5s;
    opacity: 0
}

.product-card img{
    animation: reversioné;
    animation-duration: 1s;
}

@keyframes slide {
    from { transform: scaleX(1) }
    to { transform: scaleX(0.6) translateX(250px)}
}

@keyframes reversioné {
    from { transform: scaleX(0.6) translateX(250px)}
    to { transform: scaleX(1) }
}

.testemonials {
    padding: 0;
    height: auto;
    width: 100%;
    background-position: center;
}
  
  .testemonials-wrapper {
      margin-top: 10rem;
      position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
  }

  .testemonials-wrapper img {
    height:100%;
    width:98.9vw;
    display:block;
  }
  .test-info {
      position: absolute;
      top: 20%;
      display: flex;
  }

  .test-info ul {
      display: flex;
      position: relative;
      left:-10rem;
      top: 2rem;
      width:80%;
  }

  .test-info ul div p {
      margin-left: 10px;
  }
  .test-info ul p {
    font-size: 20px;
    text-align: center;
    width: 50%;
  }

  .test-info img {
      height: 200px;
      width: 200px;
      margin-bottom: 20px;
      border-radius:100px;
  }

  .testemonials-wrapper h1 {
      position:absolute;
      top:2rem;
      left:-12rem;
      padding: 2rem;
      color:rgba(44, 189, 63, 0.788);
      animation: unpop;
      animation-duration:0.6s;
      animation-fill-mode:both;
  }
  .testemonials-wrapper:hover h1{
      animation: pop;
      animation-duration: 0.6s;
      animation-fill-mode: both;
      z-index: 1;
  }

  #names{
      font-size:15px;
  }

  @keyframes pop {
      from {transform: translateY(-200px)}
      to {transform: translateY(0px)}
  }
  @keyframes unpop {
      from {transform: translateY(20px)}
      to {transform: translateY(-200px)}
  }
  
  @media only screen and (max-width:700px) {
      .testemonials {
          display: none;
      }
      .product-info{
          position: relative;
          top:30%;
          opacity: 1;
          background-color: red;
      }
      .product-card img {
          height: 300px;
          width: 250px;
      }
  }