.main-footer {
    color: white;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 80vw;
    text-align: center;
  }

  .list-icons{
      display: flex;
  }
  .list-icons li {
      cursor: pointer;
      margin: auto ;
  }

  .list-icons li:hover {
      transition: 0.3s;
      color: rgba(151, 253, 120, 0.685);
  }


.list-unstyled li {
    cursor: pointer;
}

.list-unstyled li:hover {
    transition: 0.3s;
    color: rgba(151, 253, 120, 0.685);
}

.newsletter {
    padding:1rem;
    background-color:rgba(245, 245, 220, 0.377);
    border: 1px solid grey;
    border-radius:15px;
    margin:1rem;
}

.newsletter input {
    border: 0;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 30%;
    margin-right: 15px;
}

.newsletter button {
    background-color:rgba(153, 153, 153, 0.658);
    border:0;
    border-radius:16px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
    font-weight: 700;
}

.newsletter button:hover {
    transition: 0.5s;
    background-color:rgba(151, 253, 120, 0.685);
    color: white;
}

#contact-txt{
    color:black;
    padding:1rem;
    margin-top: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}